body,
ul,
li,
header {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 222, 199);
}

header {
    text-align: center;
    position: relative;
    width: 100%;
    color: #fff;
    margin: 30px 0;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 300px;
    overflow: hidden;
}

.banner img {
    margin: 0;
    width: 100%;
}

.newItem {
    background-color: rgb(225, 222, 199);
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

.addBtn {
    padding: 9px 10px;
    background-color: #28a745;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #218838;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

.update:hover {
    color: #000000;
    font-weight: bolder;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('img/soccer_field.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000000;
}

.newItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.matches {
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff;
    background-color: rgba(46, 46, 46, 0.8);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

th {
    background-color: #023d0f;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}